<aside id="doc-sidebar" class="doc-sidebar">
  <div class="doc-sidebar__header">
    <h3 class="doc-sidebar__title"></h3>
    <button class="doc-sidebar__close" onclick="this.closest('.doc-sidebar').classList.remove('doc-sidebar--open')" aria-label="Close preview">&times;</button>
  </div>
  <p class="doc-sidebar__meta"></p>
  <div class="doc-sidebar__content"></div>
  <div class="doc-sidebar__actions"></div>
</aside>
