<aside id="doc-sidebar" class="doc-sidebar" data-documents-target="preview">
  <div class="doc-sidebar__header">
    <h3 class="doc-sidebar__title" data-documents-target="previewTitle"></h3>
    <button class="doc-sidebar__close" data-action="click->documents#closePreview" aria-label="Close preview">&times;</button>
  </div>
  <p class="doc-sidebar__meta" data-documents-target="previewMeta"></p>
  <div class="doc-sidebar__content" data-documents-target="previewContent"></div>
  <div class="doc-sidebar__actions" data-documents-target="previewActions"></div>
</aside>
